@import "tailwindcss" source("../");

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-foreground: var(--color-neutral-900);
  --color-brand: var(--color-blue-600);

  --container-8xl: 90rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply relative bg-neutral-100 text-sm text-foreground antialiased;
  }
}
